@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@200;400&family=Roboto+Condensed:wght@500&family=Roboto:ital,wght@1,100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.account-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #1d9234;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #1d9234;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #1d9234;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: gray;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #1d9234;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


